
<!DOCTYPE html>
<html>
<head>
    <title>Máy Lọc Nước Sơn Trần - Quên Mật Khẩu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Trendy Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/Content/Log/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
    <!-- //web font -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- main -->
    <div class="agileits-main">
        <div class="w3top-nav">
            <div class="w3top-nav-left">
                <h1><a href="@Url.Action("Index","Product")">Sơn Trần</a></h1>
            </div>
            <div class="w3top-nav-right">
                <ul>
                    <li><a href="@Url.Action("Index","Product")" class="active">Home</a></li>
                    <li><a href="@Url.Action("Log","DangNhap")">Đăng Nhập</a></li>
                    <li><a href="@Url.Action("registration","DangNhap")">Đăng Ký</a></li>
                    <li><a href="@Url.Action("registGetPasswordration","DangNhap")">Quên Mật Khẩu</a></li>
                    <li><a href="@Url.Action("changePassword","DangNhap")">Đổi Mật Khẩu</a></li>
                    <li><a href="@Url.Action("DN","QuanTri")">Tư Cách Khác</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="header-main">
            <h2>Quên Mật Khẩu</h2>
            <div class="header-bottom">
                <div class="header-right w3agile">
                    <div class="header-left-bottom agileinfo">
                        <div class="icon1">
                            <input type="text" id="AccdanhNhap_Email" placeholder="Tài Khoản Của Bạn" required="" />
                        </div>
                        <div class="icon1">
                            <input type="email" id="EmailLayPass" placeholder="Email@example.com" required="" />
                        </div>
                        <div class="bottom">
                            <input type="submit" id="BtnLayPass" value="Lấy Mật Khẩu" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- //main -->
    <!-- copyright -->
    <div class="copyright w3-agile">
        <p>© 2020 Máy Lọc Nước Sơn Trần  | Design by <a href="" target="_blank">HaiNam</a></p>
    </div>
    <!-- //copyright -->
    <script src="~/Content/Log/Log.js"></script>
</body>
</html>
