<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","Product")">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("DangMua","DaMua")" tabindex="-1" aria-disabled="true">Đang Chờ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("LichSu","DaMua")" tabindex="-1" aria-disabled="true">Lịch sử</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("MyCart","GioHang")" tabindex="-1" aria-disabled="true">Giỏ Của Tôi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Log","DangNhap")" tabindex="-1" aria-disabled="true">Tài Khoản</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Index","TroGiup")" tabindex="-1" aria-disabled="true">Trợ Giúp</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <input id="value_shearch_Product" class="form-control mr-sm-2" type="search" placeholder="Mã Sản Phẩm" aria-label="Search">
                <input id="Shearch_Name_Product" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search"/>
            </div>
        </div>
    </nav>
    @RenderBody();
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Content/DaMua/KHDM.js"></script>
</body>
</html>