@using MayLocNuoc.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<sanpham>

@{
    mayLocNuocEntities db = new mayLocNuocEntities();
    int id = ViewBag.id;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nhà Cung Cấp Máy Lọc Nước Sơn Trần </title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/NCC/all/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/NCC/all/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/NCC/all/css/lightbox.css" type="text/css" media="all" /><!--gallery-popup-css-->
    <link href="~/Content/NCC/all/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Six+Caps" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <!--//fonts-->
</head>
<body>
    <!-- banner -->
    <div class="banner" id="home">
        <div class="container">
            <div class="header">
                <div class="hainam_agile_logo">
                    @{
                        var tennhacungcap = db.NhaCungCaps.Where(n => n.idIfncc == id).FirstOrDefault();
                    }
                    <h1><a href="@Url.Action("Index","Product")">SƠN TRẦN<span>Máy Lọc Nước</span></a></h1>
                </div>
                <div class="hainam_menu">
                    <div class="mobile-nav-button">
                        <div class="mobile-nav-button__line"></div>
                        <div class="mobile-nav-button__line"></div>
                        <div class="mobile-nav-button__line"></div>
                    </div>
                    <nav class="mobile-menu">
                        <ul>
                            <li class="active"><a style="color:aqua;" href="@Url.Action("Index","Product")">Home</a></li>
                            <li><a style="color:aqua;" href="@Url.Action("DangMua","DaMua")" class="scroll">Hàng Chờ</a></li>
                            <li><a style="color:aqua;" href="@Url.Action("MyCart","GioHang")" class="scroll">Giỏ Hàng</a></li>
                            <li><a style="color:aqua;" href="@Url.Action("Log","DangNhap")" class="scroll">Đăng Nhập</a></li>
                            <li><a style="color:aqua;" href="@Url.Action("MyCart","GioHang")" class="scroll">Trợ Giúp</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="agile_banner_info">
                <h3><span>T</span>rang <span>N</span>hà  <span>C</span>ung  Cấp   @tennhacungcap.nameFull </h3>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- about -->
    <div class="jarallax about" id="about">
        <div class="about-bar-hainam-agile">
            <h3 class="hainam_head hainam_head1">About</h3>
            <p> @tennhacungcap.About </p>
        </div>
    </div>
    <style>
        .about {
            background-color:aquamarine;
            background-size: cover;
            padding: 0;
            min-height: 100px;
            position: relative;
            text-align: center;
            z-index: 999;
            margin: 0;
        }
    </style>
    <!-- //about-bottom -->
    <!-- services -->
    <div class="services" id="classes">
        <div class="container">
            <h3 class="hainam_head hainam_head1">Top Đánh Giá Cao</h3>
        </div>
        <div class="agileits_services_grids">
            <ul id="flexiselDemo1">
                @{
                    var TopDanhGiaCao = db.f_DanhGiaCuaHang(id.ToString());
                }
                @if (TopDanhGiaCao == null)
                {
                    <h3>Không Có Sản Phẩm Nào </h3>
                }
                else
                {
                    foreach (var topdanhGia in TopDanhGiaCao)
                    {
                        <li>
                            <div class="agileits_services_grid" style="text-align:center;">
                                <img src="@topdanhGia.anhsanpham1" style="width:100%;" />
                                <h5 style="padding-top:2%;">Tên Sản Phẩm : @topdanhGia.tensp</h5>
                                <p>Giá Sản Phẩm : @topdanhGia.gia  VNĐ</p>
                                <a href="@Url.Action("Index","ChiTiet", new {id=topdanhGia.idSP})"><input type="submit" class="btn btn-danger" value="Xem" /></a>
                            </div>
                        </li>
                    }
                }

            </ul>
        </div>
        <style>
            .banner {
                background-color:aquamarine;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                -ms-background-size: cover;
                min-height: 770px;
                position: relative;
            }
        </style>
        <div class="container">
            <h3 class="hainam_head hainam_head1">Sản Phẩm</h3>
        </div>
        <div class="agileits_services_grids_bottom">
            <div class="container">
                @foreach (var i in Model)
                {
                    <div class="col-md-4 agileits_service_grid_btm_left"style="margin-top:5px;">
                        <div class="agileits_service_grid_btm_left1">
                            <img src="@i.anhsanpham1" alt=" " class="img-responsive" style="height: 250px; width:100%;" />
                            <div class="agileits_service_grid_btm_left2">
                                <h5>@i.tensp</h5>
                                <p>@i.gia <span>VNĐ</span> - Giảm Giá Đến :  <span>@i.sophantram</span> </p>
                                <a href="@Url.Action("Index","ChiTiet", new {id=i.idSP})"><input type="submit" class="btn btn-danger" value="Xem" /></a>
                            </div>
                        </div>
                    </div>
                }
                <div style="margin-left:40%;"> @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, id =id }));</div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //services -->


    <div class="footer-bottom wtrhee-agileinfo">
        <div class="container">
            <p class="col-md-6 copy">Máy Lọc Nước Sơn Trần  | Design  <a href="">HaiNam</a></p>
            <div class=" col-md-3 top-hainamls">
                <a href="#home" class="scroll"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>Lên Đầu Trang</a>
            </div>
        </div>
    </div>
    <!--//footer-->
    <!-- js -->
    <script type="text/javascript" src="~/Content/NCC/all/js/jquery-2.1.4.min.js"></script>


    <!-- Navigation-JavaScript -->
    <!-- menu -->
    <script>
        $(document).ready(function () {
            $('.mobile-nav-button').on('click', function () {
                $(".mobile-nav-button .mobile-nav-button__line:nth-of-type(1)").toggleClass("mobile-nav-button__line--1");
                $(".mobile-nav-button .mobile-nav-button__line:nth-of-type(2)").toggleClass("mobile-nav-button__line--2");
                $(".mobile-nav-button .mobile-nav-button__line:nth-of-type(3)").toggleClass("mobile-nav-button__line--3");

                $('.mobile-menu').toggleClass('mobile-menu--open');
                return false;
            });
        });
    </script>
    <!-- //menu -->
    <!-- //Navigation-JavaScript -->
    <!--gallery -->
    <script src="~/Content/NCC/all/js/lightbox.js"></script>
    <!-- //gallery -->
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 4,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
    </script>
    <script type="text/javascript" src="~/Content/NCC/all/js/jquery.flexisel.js"></script>
    <!-- jarallax-js -->
    <script src="~/Content/NCC/all/js/jarallax.js"></script>
    <script src="~/Content/NCC/all/js/SmoothScroll.min.js"></script>
    <script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>
    <!-- //jarallax-js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/NCC/all/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/NCC/all/js/easing.js"></script>
    <script src="~/Content/NCC/all/jsThemSanPham/Themanh.js"></script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/NCC/all/js/bootstrap-3.1.1.min.js"></script>

</body>
</html>

