@using MayLocNuoc.Models
@model sanpham
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nhà Cung Cấp Máy Lọc Nước Sơn Trần </title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/NCC/all/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/NCC/all/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/NCC/all/css/lightbox.css" type="text/css" media="all" /><!--gallery-popup-css-->
    <link href="~/Content/NCC/all/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Six+Caps" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!--//fonts-->
</head>
<body>
    <!-- banner -->
    <div class="banner" id="home">
        <div class="container">
            <div class="header">
                <div class="hainam_agile_logo">
                    <h1><a href="@Url.Action("Index","Product")">SƠN TRẦN<span>Máy Lọc Nước</span></a></h1>
                </div>
                <div class="hainam_menu">
                    <div class="mobile-nav-button">
                        <div class="mobile-nav-button__line"></div>
                        <div class="mobile-nav-button__line"></div>
                        <div class="mobile-nav-button__line"></div>
                    </div>
                    <nav class="mobile-menu">
                        <ul>
                            <li class="active"><a href="@Url.Action("TrangChu","NhaCungCap")" class=" scroll">Home</a></li>
                            <li><a href="@Url.Action("xemDoanhthu", "NhaCungCap")" class="scroll">Doanh Thu</a></li>
                            <li><a href="@Url.Action("Info","NhaCungCap")" class="scroll">Thông Tin Bản Thân</a></li>
                            <li><a href="@Url.Action("ThemSanPham","NhaCungCap")" class="scroll">Thêm Sản Phẩm</a></li>
                            <li><a href="@Url.Action("RepComment","NhaCungCap")" class="scroll">Thông Báo</a></li>
                            <li><a href="@Url.Action("xemDoanhthu","NhaCungCap")" class="scroll">Biểu Đồ</a></li>

                        </ul>
                    </nav>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="agile_banner_info">
                <h3><span>C</span>hào  <span>M</span>ừng  <span>N</span>hà  <span>C</span>ung  Cấp   Trần Hữu Sơn </h3>
            </div>

        </div>
    </div>
    <!-- //banner -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12" style="padding:20px;">
                <h2>Ảnh Của Sản Phẩm</h2>
                <div>
                    <img id="ImgShowChinh" src="@Model.anhsanpham1" style="height:70%; top:0px;width:100%;" />
                    <div style="height:18%; padding-top:2%;width:100%;">
                        <img src="@Model.anhsanpham2" id="ImgShowMat1" style="height:100%; width:23%;" />
                        <img src="@Model.anhsanpham3" id="ImgShowMat2" style="height:100%; width:23%;" />
                        <img src="@Model.anhsanpham4" id="ImgShowMat3" style="height:100%; width: 23%;" />
                        <img src="@Model.anhsanpham5" id="ImgShowMat4" style="height:100%; width: 23%;" />
                    </div>
                    <div style="height:10%; padding-top:2%;width:100%;">
                        <input type="file" accept="image/*" name="image" id="filechinh" class="inputfile " />
                        <label id="Imgchinh" for="filechinh" class="btn btn-default">ảnh Chính</label>
                        <input type="file" accept="image/*" name="file" id="file1" class="inputfile " />
                        <label id="Imgmat1" for="file1" class="btn btn-default">ảnh Mặt 1</label>
                        <input type="file" accept="image/*" name="file" id="file2" class="inputfile " />
                        <label id="Imgmat2" for="file2" class="btn btn-default">ảnh Mặt 2</label>
                        <input type="file" accept="image/*" name="file" id="file3" class="inputfile " />
                        <label id="Imgmat3" for="file3" class="btn btn-default">ảnh Mặt 3</label>
                        <input type="file" accept="image/*" name="file" id="file4" class="inputfile " />
                        <label id="Imgmat4" for="file4" class="btn btn-default">ảnh Mặt 4</label>
                    </div>
                </div>
            </div>
            <div class=" col-lg-6 col-xs-12 col-md-6 col-sm-12" style="float:left;">
                <div class=" col-lg-12 col-xs-12 col-md-12 col-sm-12">
                    <input type="number" id="ID_product_Supplier" placeholder="Mã id Của Sản Phẩm" style="width:30%; margin:1%" value="@Model.idSP" />
                    <input type="submit" id="btn_share_Product" value="Tìm Kiếm" class="fa fa-share btn btn-danger" style="width:20%;float:left; margin:1%" />
                </div>
                <b><i>Cơ Bản</i></b>
                <input type="text" id="name_product" placeholder="Tên Sản Phẩm" style=" width:100%;" value="@Model.tensp" />
                <input type="number" id="length_product" placeholder="Chiều Dài (Mét)" style=" width:30%;" value="@Model.dai" />
                <input type="number" id="with_product" placeholder="Chiều Rộng (Mét)" style=" width:30%;" value="@Model.rong" />
                <input type="number" id="height_product" placeholder="Chiều Cao (Mét)" style=" width:30%;" value="@Model.cao" />
                <input type="text" id="title_product" placeholder="Tiêu Đề Sản Phẩm" style=" width: 100%;" value="@Model.tieude" />
                <input type="number" id="number_product" placeholder="Số Lượng (Chiếc)" style=" width:100%;" value="@Model.soluong" />
                <input id="ncc_them_hethang" type="checkbox" placeholder="Hết Hàng" style=" width:3%;" />
                <label for="ncc_them_hethang">Hết Hàng</label><br />
                <b><i>Thông Số</i></b>
                <input type="number" id="core_product" placeholder="Số Lõi Lọc" style=" width:100%;" value="@Model.soLoiLoc" />
                <input type="number" id="producttion_product" placeholder="Công Xuất (KW/H)" style=" width:100%;" value="@Model.congxuat" />
                <input type="number" id="speed_product" placeholder="Tốc Độ Lọc (Lít/H)" style=" width:100%;" value="@Model.tocdoloc" />
                <input type="text" id="technology_product" placeholder="Công Nghệ Kháng Khuẩn" style=" width:100%;" value="@Model.congnghekhangkhuan" />
                <input type="number" id="pump_product" placeholder="Công Xuất Bơm (Lít/H)" style=" width:100%;" value="@Model.congXuatBom" />
                <b><i>Giá Cả</i></b>
                <input type="number" id="price_product" placeholder="Giá (Đồng)" style=" width:100%;" value="@Model.gia" />
                <input type="text" id="free_product" placeholder="Mã Giảm Giá" style=" width:65%;" value="@Model.magiamgia" />
                <input type="number" id="number_free_product" placeholder="Số Phần Trăm" style=" width: 30%;" value="@Model.sophantram" />
                <b><i>Nguồn Gốc</i></b>
                <input type="text" id="brand_product" placeholder="Thương Hiệu" style=" width:100%;" value="@Model.thuongHieu" />
                <input type="text" id="quality_product" placeholder="Chất Lượng" style=" width:100%;" value="@Model.chatluong" />
                <input type="text" id="where_production" placeholder="Nơi Sản Xuất" style=" width:100%;" value="@Model.noisanxuat" />
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding:3%;">
        <div class="row">
            <input type="submit" id="ChinhSuaProduct" value="Chỉnh Sửa" class=" col-lg-6 col-xs-12 col-md-6 col-sm-12 btn btn-success" style="width:80%; margin:1% 10%;" />
        </div>
    </div>

    <div class="footer-bottom wtrhee-agileinfo">
        <div class="container">

            <p class="col-md-6 copy">Máy Lọc Nước Sơn Trần  | Design  <a href="">HaiNam</a></p>
            <div class=" col-md-3 top-hainamls">
                <a href="#home" class="scroll"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>Lên Đầu Trang</a>
            </div>
        </div>
    </div>
    <!--//footer-->
    <!-- js -->
   <style>
               .banner {
            background: url(../Content/NCC/all/images/4.jpg) no-repeat 0px 0px;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            min-height: 770px;
            position: relative;
        }
   </style>
    <script type="text/javascript" src="~/Content/NCC/all/js/jquery-2.1.4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Navigation-JavaScript -->
    <!-- menu -->
    <script>
        $(document).ready(function () {
            $('.mobile-nav-button').on('click', function () {
                $(".mobile-nav-button .mobile-nav-button__line:nth-of-type(1)").toggleClass("mobile-nav-button__line--1");
                $(".mobile-nav-button .mobile-nav-button__line:nth-of-type(2)").toggleClass("mobile-nav-button__line--2");
                $(".mobile-nav-button .mobile-nav-button__line:nth-of-type(3)").toggleClass("mobile-nav-button__line--3");

                $('.mobile-menu').toggleClass('mobile-menu--open');
                return false;
            });
        });
    </script>
    <!-- //menu -->
    <!-- //Navigation-JavaScript -->
    <!--gallery -->
    <script src="~/Content/NCC/all/js/lightbox.js"></script>
    <!-- //gallery -->
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 4,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
    </script>
    <script type="text/javascript" src="~/Content/NCC/all/js/jquery.flexisel.js"></script>
    <!-- jarallax-js -->
    <script src="~/Content/NCC/all/js/jarallax.js"></script>
    <script src="~/Content/NCC/all/js/SmoothScroll.min.js"></script>
    <script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>
    <!-- //jarallax-js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/NCC/all/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/NCC/all/js/easing.js"></script>
    <script src="~/Content/NCC/all/jsThemSanPham/Themanh.js"></script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/NCC/all/js/bootstrap-3.1.1.min.js"></script>
    <script src="~/Content/NCC/all/jsThemSanPham/AlterPro.js"></script>
</body>
</html>






